.homePage {
  display: block;

  .homeWrapper {
    min-height: 300px;
  
    .transactionList {
      padding: 15px 0;
    }
  
    .transactionDetails {
      padding: 15px 0;
    }
  }  
}
.modalForm {
  .formRow {
    align-items: baseline;
  }
}
